
@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@500;700&display=swap');
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Heebo', sans-serif;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  color: white;
  position: absolute;
}

.nav-list {
  list-style: none;
  display: flex;
}

.nav-list li {
  padding: 0 1rem;
}

.nav-list li a {
  text-decoration: none;
  color: white;
}
ul#nav-list li a:hover {
  border-bottom: 2px solid #39065a;
}
.menu-toggle {
  display: none;
  flex-direction: column;
  cursor: pointer;
}
button.show.more {
  background: transparent;
  color: #e858ae;
  border: 1px solid #e858ae;
}
button.show.more:hover {
  background: #e858ae;
  color: #FFF;
}
button.courses {
  background: #e858ae;
  color: #fff;
}
.bar {
  background-color: white;
  margin: 0.3rem 0;
  width: 25px;
  height: 3px;
}


.main-content {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #6c63ff;
 
  color: white;
}

.info {
  text-align: center;
}

.info h1 {
  font-size: 2.5rem;
  margin-bottom: 1rem;
}

.buttons {
  display: flex;
  justify-content: center;
  gap: 1rem;
}

button {
  padding: 1rem 2rem;
  border: none;
  border-radius: 5px;
  font-size: 1rem;
  cursor: pointer;
}

button:hover {
  opacity: 0.8;
}
.banner {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background: linear-gradient(#9c0ca1, #39065a);
  height: 100vh;
  color: white;
  padding: 1rem;
  width: 100vw;
}

.image-container img {
  max-width: 100%;
  height: auto;
}

.content {
  max-width: 600px;
  margin-left: 2rem;
}

.content h1 {
  font-size: 2.5rem;
  margin-bottom: 1rem;
}

.buttons {
  display: flex;
  gap: 1rem;
}

button {
  padding: 1rem 2rem;
  border: none;
  border-radius: 5px;
  font-size: 1rem;
  cursor: pointer;
}

button:hover {
  opacity: 0.8;
}
.nav-list.active {
  display: flex;
}
.close-btn {
  display: none;
  font-size: 2rem;
  position: absolute;
  top: 1rem;
  right: 1rem;
  cursor: pointer;
}
.study-tracks {
  background-color: #f5f5f5;
  text-align: center;
  padding: 2rem 0;
}

.tracks-header h2 {
  color:#9a0f98;
  margin-bottom: 0.5rem;
}

.tracks-header p {
  color: #9a0f98;
  margin-bottom: 2rem;
}
.track-card img {
  transition: transform 0.3s ease;
}
.track-card img:hover {
  transform: scaleX(-1) rotate(180deg); 

}
.tracks-container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 1rem;
}

.track-card {
  width: calc(25% - 1rem); 
  margin-bottom: 1rem;
  background: white; 
  padding: 1rem;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1); 
}

.track-card img {
  width: 35%; 
  height: auto;
}

.track-card h3 {
  color: #333; 
  margin: 0.5rem 0;
}

.track-card p {
  color: #666; 
  font-size: 0.9rem;
}

.our-robots {
  background: linear-gradient(#ffffff00, #39065a);
  text-align: center;
  padding: 2rem 0;
}

.section-title h2 {
  color: #333; 
  display: inline-block;
  margin-bottom: 0.5rem;
}

.title-underline {
  height: 4px;
  width: 100px;
  background-color: #e858ae;
  display: block;
  margin: 0 auto 2rem auto;
}

.robots-gallery {
  display: flex;
  justify-content: space-around;
  gap: 1rem;
  padding: 0 1rem;
}

.robots-gallery img {
  width: calc(33.333% - 1rem); 
  box-shadow: 0 4px 8px rgba(0,0,0,0.1); 
  border-radius: 10px; 
  transition: transform 0.3s ease; 
}
.robots-gallery img:hover {
  transform: scale(1.15);
}
.how-it-works {
  background-color: #fff; 
  text-align: center;
  padding: 2rem 0;
}

.how-it-works-header h2 {
  color: #333; 
  margin-bottom: 0.5rem;
}

.header-underline {
  height: 4px;
  width: 100px;
  background-color: #7c4dff; 
  display: block;
  margin: 0 auto 2rem auto;
}

.steps-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 0 1rem;
}

.step {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.step-circle {
  background: linear-gradient(#9a0f98, #ea0599);
  border-radius:50%;
  width: 200px;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 2rem;
  position: relative;
  box-shadow: 0 4px 8px rgba(154, 15, 152, 0.2);
  transition: transform 0.3s ease;
}

.step-number {
  position: absolute;
  top: 9%;
  left: 81%;
  transform: translate(-50%, -50%);
  color: #acacb3;
  font-weight: 800;
  font-size: 24px;
  z-index: 10;
  background: #fff;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 1px solid #ea0599;
}

.step-icon {
width: 50%; 
z-index: 5;
}

.step-description {
padding: 0.5rem 1rem;
border: dashed 2px #e91e63; 
border-radius: 10px; 
position: relative;
top: -20px; 
color: #797980;
    font-weight: 700;
}
span.step-number p {
  margin-top: 7px;
}


.feature-section {
  display: flex;
  align-items: center;
  background: linear-gradient(#9c0ca1, #39065a);
}

.container {
  display: flex;
  justify-content: space-around;
  max-width: 100vw;
  margin: auto;
  padding: 2rem;
  width: 100vw;
}

.image-area img {
  width: 100%;
  max-width: 600px; 
  height: auto;
  transition: transform 2s ease;
}
.image-area img:hover {
  transform: scaleX(0.75); 

}
.text-area {
  color: white;
  max-width: 600px; 
}
.step-circle:hover {
  transform: scaleY(-1) rotate(180deg);
}
.text-area h2 {
  margin-bottom: 2rem; 
}

.feature-item {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
  flex: 0 1 calc(50% - 1rem);
}

.feature-item img {
  margin-right: 1rem;
  width: 50px;
  transition: transform 2s ease;
}
.feature-item img:hover {
  transform: scaleY(0.5);

}
.features {
  display: flex;
  flex-wrap: wrap;
}

.recommended-section {
  background-color: #f9f7fa;
  text-align: center;
  padding: 2rem 0;
}

.section-title h2 {
  color: #e91e63;
  margin-bottom: 2rem;
}

.cards-container {
  display: flex;
  justify-content: center;
  gap: 1rem;
  padding: 0 1rem;
}

.testimonial-card {
  background-color: white;
  border-radius: 10px;
  padding: 2rem;
  width: calc(33.333% - 1rem);
  position: relative;
  text-align: right;
  border: 1px solid #ffc0cb;
  box-shadow: 0 4px 8px #00000012;
}

.quote-image {
position: absolute;
top: -10px; 
left: 50%;
transform: translateX(-50%);
width: 30px; 
}

.testimonial-quote {
  font-style: italic;
  color: #666;
  margin: 2rem 0;
  position: relative;
  padding: 1rem;
  
}
.whatsapp-icon {
  position: fixed;
  left: 10px;
  bottom: 10px;
  z-index: 9999;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  border: 1px solid #fff;
  background: #4caf50;
}

.whatsapp-icon img {
  height: auto;
  position: absolute;
  top: 1.2em;
  left: 1.2em;
}
.testimonial-card h2 {
  color: #9a0f98;
  font-size: 18px;
}
.author-details {
display: flex;
align-items: center;
justify-content: flex-start;
}

.author-image {
margin-right: 1rem;
width: 30px; 
border-radius: 50%; 
}

.author-name {
font-weight: bold;
color: #333;
}

.author-role {
font-style: italic;
font-size: 0.85em;
color: #666;
}
.feature-section-two {
  padding: 2rem;
  text-align: center;
  background: #fff
}
.list-items{
  display: flex;
  justify-content: space-around;
  gap: 1rem;
  padding: 0 1rem;
}
.feature-column {
  background: linear-gradient(#9c0ca185, #39065a);
  border: 1px solid #39065a;
  border-radius: 10px;
  padding: 2rem;
  margin-bottom: 1rem;
  width: 30vw;
}
.feature-column:nth-child(2) {
  
  transform: scale(1.1);
}
.feature-section-two h3 {
  color: #fff;
  margin-bottom: 1rem;
}

.feature-list {
  list-style: none; 
  padding: 0;
  margin-bottom: 1rem;
}

.feature-list li {
  background: url('/assets/section7_check-mark.png') no-repeat left center; 
padding-left: 30px; 
text-align: left;
margin-bottom: 0.5rem;
background-size: contain;
color: #fff;
}
.feature-column a {
  color: #fff;
}
.signup-button {
display: inline-block;
padding: 0.5rem 1rem;
background-color: #e91e63; 
color: white; 
text-decoration: none;
border-radius: 5px;
transition: background-color 0.3s ease; /
}

.signup-button:hover {
background-color: #ff69b4;
}
.feature-column span {
  color: #fff;
}
span.price {
  color: #20e9f8;
  font-weight: 700;
}
p.rec {
  color: #ea0599;
  font-weight: 700;
  padding-bottom: 1em;
}


.contact-section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2rem;
  background-color: #f9f9f9;
}

.contact-form {
  width: 50%;
}

.contact-form h2 {
  margin-bottom: 1rem;
  color:
#e91e63;
}

.input-group {
display: flex;
flex-direction: column;
gap: 1rem;
}

.input-group input,
.contact-form textarea {
padding: 0.5rem;
border: 1px solid #eaeaec;
border-radius: 5px; 
}

.contact-form textarea {
margin-top: 1rem; 
height: 100px; 
width: 100%;
}

.send-button {
background: linear-gradient(#ea0599, #9a0f98);
color: white;
border: none;
border-radius: 5px;
padding: 0.5rem 1rem;
margin-top: 1rem; 
cursor: pointer;
transition: background-color 0.3s ease; 
width: auto;
}

.send-button:hover {
  width: 100%; 

}

.contact-image {
  width: 50%;
  display: flex;
  align-items: stretch;
  justify-content: center;
}

.contact-image img {
width: 16vw;
height: auto;
}

.site-footer {
  background-color:#39065a; 
  color: white;
  padding: 1rem 0;
}

.footer-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px; 
  margin: 0 auto;
  padding: 0 1rem;
}

.footer-nav,
.footer-social {
  display: flex;
  gap: 1rem; 
}

.footer-link, 
.social-link {
  color: white;
  text-decoration: none;
  padding: 0.5rem;
  transition: color 0.3s ease;
}

.footer-link:hover, 
.social-link:hover {
color: #d1c4e9; 
}

.footer-rights {
text-align: right;
}

.footer-rights p {
margin: 0; 
}

@media (max-width: 480px) {

  .footer-content {
    flex-direction: column;
    text-align: center;
    }
    
    .footer-nav,
    .footer-social {
      flex-direction: column;
      align-items: center;
      gap: 0.5rem; 
    }
    
    .footer-rights {
    margin-top: 1rem; 

    
    }
  .contact-section {
    flex-direction: column;
    text-align: center;
    }
    
    .contact-form,
    .contact-image {
    width: 100%;
    }
    .contact-image img {
      width: 100%;
    }
    .contact-image {
    margin-top: 2rem; 
    }
  .feature-column, .feature-column:nth-child(2) {
    width: 300px;

  }
  
  .list-items {
    
    flex-direction: column;
}
  .cards-container {
    flex-direction: column;
    }
    
    .testimonial-card {
    width: 80%;
    text-align: center;
    margin: 0 auto;
    }
    
    .quote-image {
    left: 50%;
    }
    
    .author-details {
    justify-content: center;
    }
  .container {
    flex-direction: column;
    text-align: center;
  }

  .image-area {
    margin-bottom: 2rem;
  }
  
  .feature-item {
    justify-content: center;
    flex-basis: 100%;
  }
  .steps-container {
    flex-direction: column;
    }
    
    .step:not(:last-child)::after {
    content: '';
    position: absolute;
    left: 50%;
    bottom: -60px;
    height: 50px;
    border-left: dashed 2px #e91e63;
    }
    
    .step {
    margin-bottom: 100px;
    }
    
    .step-description {
    top: -10px;
    }
  .robots-gallery {
    flex-direction: column;
  }

  .robots-gallery img {
    width: 100%;
    margin: 0 auto 1rem auto;
  }
  .tracks-container {
    flex-direction: column;
  }

  .track-card {
    width: auto;
  }
  .track-card img {
    width: 50%;
    
  }
  .nav-list.active {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }
  
  .nav-list.active .close-btn {
    display: block;
  }
  .menu-toggle .bar {
    display: block;
  }
  
  .nav-list.active .menu-toggle .bar {
    display: none; 
  }
  .nav-list {
    display: none;
    position: absolute;
    right: 0;
    top: 0;
    background-color: #333;
    flex-direction: column;
    width: 100%;
    text-align: right;
    padding: 2rem 1rem 0 1rem;
  }

  .nav-list li {
    padding: 1rem 0;
  }

  .nav-list li a {
    padding: 0.5rem 1rem;
  }

  .menu-toggle {
    display: flex;
  }
  .banner {
    flex-direction: column;
    text-align: center;
  }

  .image-container {
    margin-bottom: 1rem;
  }

  .content {
    margin-left: 0;
  }

  .buttons {
    flex-direction: column;
    width: 100%;
  }

  .buttons button {
    width: 100%;
  }

  .content h1 {
    font-size: 1.5rem;
  }
  .nav-bar nav {
    flex-direction: column;
  }

  .buttons {
    flex-direction: column;
  }

  .info h1 {
    font-size: 1.5rem;
  }
}
